html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

# Responsive website

> What is responsive design?

Responsive Web design is the approach that suggests that design and development
should respond to the user’s behavior and environment based on screen size,
platform and orientation.

```css
/* =========== Desktop first ======== */

/* 4K screen */
@media (max-width: 2560px) {
  .showcase {
    width: 100%;
  }
}

/* Desktop */
@media (max-width: 1440px) {
  .showcase {
    width: 90%;
  }
}

/* Laptop */
@media (max-width: 1024px) {
  .showcase {
    width: 80%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .showcase {
    width: 70%;
  }
}

/* Mobile L */
@media (max-width: 425px) {
  .showcase {
    width: 65%;
  }
}

/* Mobile M */
@media (max-width: 375px) {
  .showcase {
    width: 60%;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  .showcase {
    width: 50%;
  }
}

/* =========== Mobile first ======== */
/* Mobile S */
@media (min-width: 320px) {
  .showcase {
    width: 50%;
  }
}
/* Mobile M */
@media (min-width: 375px) {
  .showcase {
    width: 60%;
  }
}
/* Mobile L */
@media (min-width: 425px) {
  .showcase {
    width: 65%;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .showcase {
    width: 70%;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .showcase {
    width: 80%;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .showcase {
    width: 90%;
  }
}

/* 4K screen */
@media (min-width: 2560px) {
  .showcase {
    width: 100%;
  }
}
